<p>users works!</p>
<!-- Want to navigate from user to categories  -->
<div>
    <!-- <a routerLink="/categories">Go to Categories</a> -->
    <!-- <button (click)="onCategoriesClick()">Go to Categories</button>
</div>


<a routerLink="['/users',1,'Mohsin']"
[queryParams]="{page:424, search:'Mohsin'}" 
[fragment]="'loading'"> Get Mohsin Details</a> -->

<!-- To dislpay a list of users we will use nested routes -->
<ul class="nav flex-column">
    <li class="nav-item">
        <a routerLink="['/users',424,'Mohsin']" class='nav-link' [queryParams]="{page: 1 , search:'Mohsin'}">Get Mohsin Details</a>
    </li>





    <li class="nav-item">
        <a routerLink="['/users',421,'Ahmad Anwar']"  class='nav-link'  [queryParams]="{page: 1 , search:'Ahmad'}">Get Ahmad Details</a>
    </li>

    <li class="nav-item">
        <a routerLink="['/users',420,'Usman']"  class='nav-link'  [queryParams]="{page: 1 , search:'Usman'}">Get Usman Details</a>
        </li>
  </ul>

<div>
    <router-outlet></router-outlet>
</div>